/* Default */

html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

#elg-parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#elg-parent #elg-cross {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#elg-parent #elg-model {
    width: 100%;
    display: table;
    height: 100%;
}

#elg-parent #elg-social {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#elg-parent #elg-list {
    padding: 0;
    list-style-type: none;
}

#elg-parent .elg-network {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    border: 3px solid white;
    margin: 10px;
    text-align: center;
}

#elg-parent .elg-network-link {
    display: inline-block;
}

#elg-parent .elg-network .elg-network-link i {
    vertical-align: middle !important;
}

/* Custom */

#elg-parent.elg-fa-size-1 .elg-network, #elg-parent.elg-fa-size-1 .elg-network-link {
    width: 50px !important;
    height: 50px;
}

#elg-parent.elg-fa-size-1 .elg-network .elg-network-link i {
    line-height: 50px;
}

#elg-parent.elg-fa-size-2 .elg-network, #elg-parent.elg-fa-size-2 .elg-network-link {
    width: 60px !important;
    height: 60px;
}

#elg-parent.elg-fa-size-2 .elg-network .elg-network-link i {
    line-height: 60px;
}

#elg-parent.elg-fa-size-3 .elg-network, #elg-parent.elg-fa-size-3 .elg-network-link {
    width: 80px !important;
    height: 80px;
}

#elg-parent.elg-fa-size-3 .elg-network .elg-network-link i {
    line-height: 80px;
}

#elg-parent.elg-fa-size-4 .elg-network, #elg-parent.elg-fa-size-4 .elg-network-link {
    width: 100px !important;
    height: 100px;
}

#elg-parent.elg-fa-size-4 .elg-network .elg-network-link i {
    line-height: 100px;
}

#elg-parent.elg-fa-size-5 .elg-network, #elg-parent.elg-fa-size-5 .elg-network-link {
    width: 120px !important;
    height: 120px;
}

#elg-parent.elg-fa-size-5 .elg-network .elg-network-link i {
    line-height: 120px;
}
